/* Our animation has an  */
/* Flas effect will only stay inside here */
.group {
  position: relative;
  overflow: hidden;
}

/* Our shine overlay layer */
.group::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  background: linear-gradient(
    to right,
    transparent,
    rgba(255, 255, 255, 0.4),
    transparent
  );
  /* Positions the shape to the left edge and then -25 degrees */
  transform: translateX(-100%) skewX(-25deg);
  /* So clicks can pass through our animation */
  pointer-events: none;
}

.group:hover::before {
  /* A transition curve for 0.75s */
  animation: shineSweep 0.75s ease-in-out;
}

/* Starts and stops our light  */
@keyframes shineSweep {
  0% {
    /* Our start position */
    transform: translate(-100%) skewX(-25deg);
  }
  100% {
    /* Our end position */
    transform: translateX(100%) skewX(-25deg);
  }
}
